<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>Guide Details</title>
</head>
<body>
    <h1>Guide Details</h1>
    <form action="/" method="post"   style="text-align: center;">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>Contact No.:</td>
                <td><input type="text" name="contact" required></td>
            </tr>
            <tr>
                <td>Aadhar No.:</td>
                <td></td>
            </tr>

            <tr>
                <td>Language Spoken:</td>
                <td><input type="text" name="language" required></td>
            </tr>
            <tr>
                <td>Level of Expertise in Places:</td>
                <td><input type="text" name="expertise" required></td>
            </tr>
            <tr>
                <td>Charges per Day:</td>
                <td><input type="text" name="charges" required></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>
