<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./node_modules/flatpickr/dist/flatpickr.min.css" />
  <link rel="stylesheet" href="/style/main.css" />


  <title>Bharat Bharamann</title>
</head>

<body>
  <header class="header">
    <div class="flex-wraper">
      <div class="logo">
        <img src="/logo.png" alt="logo" width="600">
      </div>
      <nav class="navbar">
        <ul class="navbar-links">
          <li><a href="/plan" class="active-link">Home</a></li>
          <li><a href="#">Planner</a></li>

          <li><a href="/account">Account</a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      <div class="mobil-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  <div class="inter"></div>
  <main>
    <section class="homepage-hero">
      <div class="flex-wraper">
        <div class="homepage-hero__text">
          <h1>Explore new places</h1>
          <p>Don't miss any adventure</p>
        </div>
      </div>
    </section>
    <section class="destination">
      <div class="flex-wraper">
        <h1 class="section-header">Top Destinations</h1>

        <div class="destination-collection">
          <div class="destination-collection__feature">
            <a href="./goa/goa.html" class="destination-collection__item">
              <h1>GOA</h1>
              <img class="fit"
                src="https://www.abhibus.com/blog/wp-content/uploads/2023/05/Best-Places-to-Visit-in-North-Goa-in-3-days0A-scaled.jpg"
                alt="Goa" />
            </a>
          </div>
          <div class="destination-collection__items">
            <a href="j&k/jammu&kashmir.html" class="destination-collection__item">
              <h1>Jammu Kashmir</h1>
              <img class="fit"
                src="https://gumlet.assettype.com/outlooktraveller%2Fimport%2Foutlooktraveller%2Fpublic%2Fuploads%2Farticles%2Fexplore%2Fwgwgwg.jpg?auto=format%2Ccompress&fit=max&format=webp&w=400&dpr=2.6"
                alt="Jammu Kashmir" />
            </a>
            <a href="tamilnadu/tamilnadu.html" class="destination-collection__item">
              <h1>Tamil Nadu</h1>
              <img class="fit" src="https://assets.traveltriangle.com/blog/wp-content/uploads/2017/07/Madurai.jpg"
                alt="Tamil Nadu" />
            </a>
            <a href="gujarat/gujarat.html" class="destination-collection__item">
              <h1>Gujarat</h1>
              <img class="fit" src="https://youimg1.tripcdn.com/target/0104n120008x7pk9h9596_D_1180_558.jpg"
                alt="Gujarat" />
            </a>
            <a href="kerela/kerala.html" class="destination-collection__item">
              <h1>Kerala</h1>
              <img class="fit" src="https://traveldudes.com/wp-content/uploads/2020/09/Kerala_Main.jpg" alt="Kerala" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="top-plans">
      <div class="flex-wraper">
        <h1 class="section-header"> Top Travel Plans</h1>
        <div class="plans-collection">
          <a href="recommendations/himachal/himachal package.html" class="plans-collection__item">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Triund_%2822356802630%29.jpg/1280px-Triund_%2822356802630%29.jpg"
              alt="Himachal Pradesh" />
            <div class="plans-collection__item-text">
              <h1>Himachal Pradesh in 6 Days </h1>
              <p>
                Tourism in Himachal Pradesh is a major contributor to the state's economy and growth. The Himalayas
                attracts tourists from all over the world. Hill stations like Shimla, Manali, Dharamshala, Dalhousie,
                Chamba, Khajjiar, Kullu and Kasauli are popular destinations for both domestic and foreign tourists

              </p>
            </div>
          </a>
          <a href="recommendations/ladakh/lehladakh.html" class="plans-collection__item">
            <img
              src="https://assets.cntraveller.in/photos/60ba11f73ff1eb236f5a730c/16:9/w_1024%2Cc_limit/LadakhLead.jpg"
              alt="Ladakh" />
            <div class="plans-collection__item-text">
              <h1>Ladakh in 6 Days</h1>
              <p>
                Tourism is one of an economic contributor to the union territory of Ladakh in Northern India. The union
                territory is sandwiched between the Karakoram mountain range to the north and the Himalayas to the south
                and is situated at the height of 11,400 ft.
              </p>
            </div>
          </a>




          <div id="morePlaceContainer" style="display: none;">
            <a href="recommendations/goa/goa package.html" class="plans-collection__item">
              <img
                src="https://www.abhibus.com/blog/wp-content/uploads/2023/05/Best-Places-to-Visit-in-North-Goa-in-3-days0A-scaled.jpg"
                alt="Goa" />
              <div class="plans-collection__item-text">
                <h1>Goa in 5 Days</h1>
                <p>
                  Tourism is generally focused on the coastal areas of Goa, with lower tourist activity inland. In 2010,
                  there were more than 2 million tourists reported to have visited Goa, about 1.2 million of whom were
                  from abroad

                </p>
              </div>
            </a>
            <a href="recommendations/j&k/J & K package.html" class="plans-collection__item">
              <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2022/01/05101450/Kashmir.jpg"
                alt="Jammu & Kashmir" />
              <div class="plans-collection__item-text">
                <h1>Jammu & Kashmir in 7 days</h1>
                <p>
                  Jammu & Kashmir is the northern most geographical region of the Indian subcontinent. Kashmir's
                  blissful aura
                  can never be expressed in words, Snowy glaciers, pristine lakes, picturesque mountains, dense forests,
                  green meadow
                </p>
                <br><br>
              </div>
            </a>

            <a href="recommendations/kerela/Kerela package.html" class="plans-collection__item">
              <img
                src="https://www.hindustantimes.com/ht-img/img/2023/03/24/1600x900/Further-down--in-Kerala--God-s-Own-Country--held-i_1679599101590_1679646049345_1679646049345.jpg"
                alt="Kerela" />
              <div class="plans-collection__item-text">
                <h1>Kerela in 7 Days</h1>
                <p>
                  Kerala's culture and traditions, coupled with its varied demographics, have made the state one of the
                  most popular tourist destinations in India. In 2012, National Geographic's Traveller magazine named
                  Kerala as one of the "ten paradises of the world

                </p>
              </div>
            </a>
            <a href="recommendations/assam/assam package.html" class="plans-collection__item">
              <img
                src="https://mlqvlpsvnudi.i.optimole.com/Ih6NJYg-SqtJnpKt/w:1080/h:720/q:auto/https://www.meghalayatourcabs.com/wp-content/uploads/2019/05/Majuli-River-Island-Assam-Tourist-Spots.jpg"
                alt="Assam" />
              <div class="plans-collection__item-text">
                <h1>Assam in 7 Days</h1>
                <p>
                  For the purposes of tourism there are wildlife reserves like the Kaziranga National Park, Manas
                  National Park, Pobitora Wildlife Sanctuary, Nameri National Park, Dibru-Saikhowa National Park etc.
                </p>
                <br><br>
              </div>
            </a>

          </div>
          <div class="view-more">
            <button class="view-more__btn" id="viewMoreButton"><a>View More</a></button>
          </div>
        </div>

      </div>
    </section>

    </div>
    </section>

  </main>
  <footer class="footer">
    <div class="flex-wraper">
      <div class="footer-title">
        <div class="footer-title__item">
          <h6>Travel Planner</h6>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/plan">Planner</a></li>

            <li><a href="class.html">Feedback</a></li>

            <li><a href="/login"></a></li>
          </ul>
        </div>

      </div>
      <div class="footer-social">
        <h6>Reach out on</h6>
        <ul class="socil-links">
          <li class="social-links__item">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.28 36">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path id="Icon_awesome-facebook-f" data-name="Icon awesome-facebook-f"
                      d="M18,20.25l1-6.51H12.77V9.51c0-1.79.87-3.52,3.67-3.52h2.84V.44a34.07,34.07,0,0,0-5-.44C9.09,0,5.72,3.12,5.72,8.77v5H0v6.52H5.72V36h7.05V20.25Z" />
                  </g>
                </g>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 3px;
                    }
                  </style>
                </defs>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <g id="Icon_feather-instagram" data-name="Icon feather-instagram">
                      <path id="Path_64" data-name="Path 64" class="cls-1"
                        d="M9,1.5H24A7.5,7.5,0,0,1,31.5,9V24A7.5,7.5,0,0,1,24,31.5H9A7.5,7.5,0,0,1,1.5,24V9A7.5,7.5,0,0,1,9,1.5Z" />
                      <path id="Path_65" data-name="Path 65" class="cls-1"
                        d="M22.5,15.56a6,6,0,1,1-6.82-5.06,5.77,5.77,0,0,1,1.76,0A6,6,0,0,1,22.5,15.56Z" />
                      <path id="Path_66" data-name="Path 66" class="cls-1" d="M24.75,8.25h0" />
                    </g>
                  </g>
                </g>
              </svg></a>
          </li>
          <li class="social-links__item">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.39 27">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path id="Icon_awesome-youtube" data-name="Icon awesome-youtube"
                      d="M37.6,4.22A4.84,4.84,0,0,0,34.2.81c-3-.81-15-.81-15-.81s-12,0-15,.81A4.82,4.82,0,0,0,.8,4.22c-.8,3-.8,9.31-.8,9.31s0,6.28.8,9.3a4.78,4.78,0,0,0,3.39,3.36c3,.81,15,.81,15,.81s12,0,15-.81a4.78,4.78,0,0,0,3.39-3.36c.8-3,.8-9.3.8-9.3s0-6.29-.8-9.3Zm-22.33,15V7.82l10,5.71Z" />
                  </g>
                </g>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 29.24">
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path id="Icon_awesome-twitter" data-name="Icon awesome-twitter"
                      d="M32.3,7.29c0,.32,0,.64,0,1,0,9.75-7.42,21-21,21A20.87,20.87,0,0,1,0,25.93,17.68,17.68,0,0,0,1.78,26a14.76,14.76,0,0,0,9.16-3.15A7.41,7.41,0,0,1,4,17.75a9.3,9.3,0,0,0,1.39.11,7.56,7.56,0,0,0,2-.25,7.39,7.39,0,0,1-5.92-7.24v-.09a7.52,7.52,0,0,0,3.34.94A7.39,7.39,0,0,1,2.51,1.35,21,21,0,0,0,17.73,9.07a8.75,8.75,0,0,1-.19-1.69,7.39,7.39,0,0,1,12.77-5A14.53,14.53,0,0,0,35,.55a7.34,7.34,0,0,1-3.24,4.06A14.54,14.54,0,0,0,36,3.47,16,16,0,0,1,32.3,7.29Z" />
                  </g>
                </g>
              </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./node_modules/flatpickr/dist/flatpickr.min.js"></script>
  <script src="./node_modules/flatpickr/dist/plugins/rangePlugin.js"></script>
  <script src="./js/main.js"></script>
  <script src="db.js"></script>
</body>

<style>
  #morePlaceContainer{
  }
</style>

<script>
 var isOpen = false;

  document.getElementById("viewMoreButton").addEventListener("click", ()=>{
    
 if (isOpen){
document.getElementById("morePlaceContainer").style.display = "none";
document.getElementById("viewMoreButton").firstElementChild.textContent= "View More";
isOpen=false;
}
 
 else{
document.getElementById("morePlaceContainer").style.display = "flex";
document.getElementById("viewMoreButton").firstElementChild.textContent= "View Less";
isOpen = true;
  }})
 

</script>

</html>