<header class="header">
    <div class="flex-wraper">
      <div class="logo">
        <img src="/logo.png" alt="logo"  width="600">
      </div>
      <nav class="navbar">
        <ul class="navbar-links">
          <li><a href="/">Home</a></li>
          <li><a href="/plan" class="active-link">Planner</a></li>

          <li><a href="/account">Account</a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
      <div class="mobil-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>