*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://media.istockphoto.com/id/1323846766/photo/a-beautiful-view-of-dal-lake-in-winter-srinagar-kashmir-india.jpg?s=612x612&w=0&k=20&c=Dp3peie2t-jdLEmqe4W-DD09GACu2Cr-JjHHeB6rpBc=);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding: 5px 20px;
    border: 1px currentColor #fff transparent;
    border-radius: 10px;
    transition: 0.6s ease;
}
nav ul li a:hover{
background-color: #fff;
color: rgba(0,0,0);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(https://media.istockphoto.com/id/1311915718/photo/natural-wonders.jpg?s=612x612&w=0&k=20&c=LaUqTq8hx-Ro5wHJSPo7FZenu_o572xJTc78p_7Its0=);
}
.card2{
    background-image: url(https://media.istockphoto.com/id/1326779750/photo/beautiful-view-of-pahalgam-during-winter-season-kashmir-india.jpg?s=612x612&w=0&k=20&c=drDmCrnZykLpUZ17shQ5DzWFCwxsjIIgSSTiBQgBhbI=);
}
.card3{
    background-image: url(https://media.istockphoto.com/id/1046313926/photo/indian-bikers-travel-on-national-highway-with-scenic-landscape-at-ladakh-india.jpg?s=612x612&w=0&k=20&c=WjPBCZMD93SFckiZq7b3QdVhgpTkp19QLiuWANT4NuI=);
}
.card4{
    background-image: url(PANIPAT.jpg);
}

.card:hover{
    transform: translateY(-10px);
}
h4{
    color: #fff;
    text-shadow: 0 0 5px #999;
}

p{
    color: rgb(255, 255, 255);
}
.card1 button{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}
.card1 button:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.card2 button{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}
.card2 button:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.card3 button{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}
.card3 button:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.card4 button{
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 10px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}
.card4 button:hover{
    letter-spacing: 2px;
    opacity: .8;
}